.home-container{
    margin-top: 0px;
    padding-top: 0px;
    background-color: black;
    height: 100vh;
}

.category-tag{
    color: lightgray;
}

.category-tag-count-container{
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 0px 15px;
    padding: 5px 15px 0px 15px
}